
$primary-color: #A367B1;
$primary-color-light: #FFD1E3;
$primary-color-dark: #5D3587;
$secondary-color: #5B0888;
$text-dark: #333333;
$text-light: #767268;
$white: #ffffff;
$max-width: 1200px;
$btn-hover: #5b0888b9;