@use './../base';

.about__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}

.about__content p {
    color: base.$text-light;
    margin-bottom: 1.5rem;
}